.topTabConainer {
  height: 50px;
  margin-right: 50px;
}

.tabContainer {
  gap: 10px;
  height: 50px;
  border: 1px solid #bbbbbb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  font-family: "semibold";
}

.tabContainerSelected {
  height: 50px;
  border: 1px solid #bbbbbb;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--appGreen);
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-family: "semibold";
}
