.title {
  font-family: "semibold";
  font-size: 15px;
}

.inputContainer {
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #b7b7b7;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}

.inputField {
  font-size: 15px;
  font-family: "regular";
}

.inputField:focus {
  outline: none;
  border: none;
}

.multilineContainer {
  padding-top: 10px;
  height: 90px;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #b7b7b7;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}
