@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "regular";
  src: url("/fonts/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "semibold";
  src: url("/fonts/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.pageTitle {
  font-family: "semibold";
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --appGreen: #32a92e;
  --borderGreenColor: #68cc5838;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.pendingContrant {
  background-color: rgba(255, 0, 0, 0.7);
  padding: 5px;
  font-family: "regular";
  font-size: 10px;
  color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.approvedContrant {
  background-color: var(--appGreen);
  padding: 5px;
  font-family: "regular";
  font-size: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.contractHeader {
  font-family: "semibold";
  font-size: 15px;
}

.contractTable {
  font-family: "regular";
  font-size: 12px;
}
