.client-head {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 600;
    line-height: 24.38px;
    text-align: center;
    color: #101828;
}

.client-descrp {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    line-height: 28.16px;
    text-align: center;
    color: #667085;
    margin-top: 2rem;
}

.centerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
