.itemGrid {
  width: 100%;
  height: auto;
  top: 821px;
  left: 308px;
  padding: 17px 11px 17px 11px;
  gap: 24px;
  border-radius: 8px;
  border: 1px;
  border: 1px solid #d0d5dd;
  margin-top: 2rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBtn {
  width: 122px;
  height: 45px;
  padding: 10px 11px 10px 11px;
  gap: 10px;
  border-radius: 8px;
  background: #38a73b;
  font-family: "regular";
  font-size: 14px;
  font-weight: 500;
  line-height: 24.71px;
  text-align: center;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
}

.subHead {
  font-family: "regular";
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;
}

.subAmount {
  font-family: "regular";
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: right;
}
