.userFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh; /* Ensures the container takes up the full viewport height */
}

.plusborder {
  width: 56px;
  height: 52px;
  border-radius: 34px;
  border: 2px dotted #263238;
  font-family: "regular";
  font-size: 32px;
  font-weight: 600;
  line-height: 56.32px;
  text-align: center;
  color: #38a73b;
  display: flex; /* Center the text inside */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inputContainer {
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #b7b7b7;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}

.inputField {
  font-size: 15px;
  font-family: "regular";
  resize: none;
}

.inputField:focus {
  outline: none;
  border: none;
}

.leftSection {
  font-family: "regular";
  font-size: 24px;
  font-weight: 600;
}

.leftSection1 {
  font-family: "regular";
  font-size: 15px;
  font-weight: 400;
  line-height: 36px;

}
