.companyName{
    font-family: "regular";
    font-weight: 500;
    font-size: 15px;
}

.totalAmount{
    font-family: "regular";
    font-weight: 800;
    font-size: 15px;
}

.descrp{
    font-family: "regular";
    font-weight: 500;
    font-size: 12px;
}

.Bankdescrp{
    font-family: "regular";
    font-weight: 500;
    font-size: 10px;
}