.modalBox {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 1000px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.modalHead{
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
  font-size: 20px;
}

.paymentButton {
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.selected {
  background-color: #4caf50; /* Green */
  color: white;
  border-color: #4caf50;
}
