.quoteHead {
  width: 100%;
  height: Fixed (44px) px;
  padding: 10px 16px 10px 16px;
  border: 1px;
  font-family: "regular";
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;
  color: #2a292d;
}

.quoteMain {
  width: 100%;
  height: Fixed (451px) px;
  border-radius: 8px;
  border: 1px;
  margin-top: -6rem;
}

.serviceQuoteMain {
  width: 100%;
  height: Fixed (451px) px;
  border-radius: 8px;
  border: 1px;
}


.quoteheadMain {
  font-family: "regular";
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: #263238;
  margin-bottom: 1rem;
}

.customerDetails {
  font-family: "regular";
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  text-align: left;
  color: #32a92e;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #32a92e;
  width: 200px;
}

.quoteName {
  font-family: "regular";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #263238;
  margin-left: 1rem;
}

.clientRecord {
  width: 100%;
  height: auto;
  top: -1123px;
  padding: 14px 12px 14px 12px;
  border-radius: 8px;
  border: 1px;
  border: 1px solid #68cc5838;
}

.clientHead {
  font-family: "regular";
  font-size: 20px;
  font-weight: 600;
  line-height: 24.38px;
  color: #32a92e;
  /* display: flex;
  text-align: center;
  justify-content: center; */
}

.areaHead{
  font-family: "regular";
  font-size: 15px;
  font-weight: 600;
  line-height: 24.38px;
  color: #32a92e;
  display: flex;
  text-align: left;
  justify-content: left;
  margin-bottom: 1rem;
}

.tableHead {
  background-color: #32a92e;
  color: white!important;
  text-align: center;
}

.termsHead {
  font-family: "regular";
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #242424;
  padding-left: 10px;
  padding: 20px;
}

.termDescrp {
  font-family: "regular";
  font-size: 13.26px;
  font-weight: 400;
  line-height: 19.89px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #7b7b7b;
}

.heading {
  font-family: "regular";
  font-size: 32px;
  font-weight: 600;
  line-height: 38.73px;
  text-align: left;
  margin-top: 2rem;
}

.approveDiv {
  width: 250px;
  height: 40px;
  border: 1px;
  background: #32a92e;
  border: 1px solid #32a92e;
  border-radius: 10px;
  margin-top: 0.5rem;
  font-family: "regular";
  font-size: 20px;
  font-weight: 600;
  line-height: 28.16px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.billingRecord {
  width: 100%;
  border-radius: 8px;
  border: 1px;
  border: 1px solid #68cc5838;
  padding-left: 30px;
}

.billingHead {
  font-family: "regular";
  font-size: 16px;
  font-weight: 600;
  line-height: 28.16px;
  text-align: left;
  color: #1c1c1e;
}

.biilingData {
  width: 100%;
  height: 49px;
  padding: 12px 16px 12px 16px;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #D0D5DD;
}
